.skipButton {
  color: var(--color-neutral-400);
  border-radius: 100%;
  font-weight: 700;
  background: var(--color-neutral-000);
  border: 2px solid var(--color-neutral-100);
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: var(--space-100);
}

.skipButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.revealWordButton {
  color: var(--color-neutral-400);
  border-radius: 100%;
  background: var(--color-neutral-000);
  border: 2px solid var(--color-neutral-100);
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: var(--space-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.revealWordButton:disabled {
  cursor: not-allowed;
}

.revealWordButton:disabled svg {
  /* アイコンだけ薄くする */
  opacity: 0.5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
