.revealButton {
  color: var(--color-neutral-500);
  border: none;
  font-weight: 700;
  background: var(--color-neutral-000);
  margin-bottom: var(--space-150);
}

.actionsRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.green {
  background-color: var(--main-color-300);
}

.gray {
  background-color: var(--color-neutral-300);
}

.circleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: none;
}

.question {
  font-size: var(--fs-200);
  font-weight: 600;
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--space-050);
  color: var(--color-neutral-000);
}

.know {
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--space-050);
  color: var(--color-neutral-000);
}

.circleLabel {
  font-size: var(--fs-100);
  color: var(--color-neutral-000);
}
