.testResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}

.rateBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color-100);
}

.resultBox {
  width: 100%;
  background: var(--main-color-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-500) 0 var(--space-200) 0;
}

.resultRating {
  color: var(--color-neutral-800);
  font-size: var(--fs-250);
  letter-spacing: 0.05rem;
}

.resultBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-150);
  gap: var(--space-100);
}

.resultIcon {
  color: var(--main-color-400);
  margin-bottom: var(--space-050);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultPercentage {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-neutral-800);
}

.resultStats {
  margin-left: var(--space-150);
  margin-right: var(--space-150);
  padding: var(--space-150);
  background: var(--base-color);
  width: 100%;
  margin-bottom: var(--space-150);
  border-radius: var(--radius-050);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionsButtonBox {
  width: 100%;
  padding-left: var(--space-150);
  padding-right: var(--space-150);
  background: var(--main-color-100);
  padding-bottom: var(--space-150);
}

.resultLabel {
  font-size: var(--fs-100);
  font-weight: 600;
  color: var(--color-neutral-500);
  margin-bottom: var(--space-050);
  padding: var(--space-050) var(--space-100);
  background-color: var(--main-color-200);
  border-radius: var(--radius-100);
}

.actionsButton {
  width: 100%;
}

.wordSection {
  width: 100%;
}

.sectionTitle {
  font-weight: 600;
  color: var(--color-neutral-700);
  margin-bottom: var(--space-050);
}
.sectionLabel {
  margin-right: var(--space-050);
  font-size: var(--fs-125);
}

.sectionCount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 50%;
  height: var(--fs-175);
  width: var(--fs-175);
}

.sectionCountNegative {
  color: var(--color-neutral-500);
  background-color: var(--color-neutral-100);
}

.sectionCountPositive {
  color: var(--accent-green-color-200);
  background-color: var(--accent-green-color-100);
}

.wordList {
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--space-100);
}

.correctAnswers {
  font-weight: 900;
  font-size: var(--fs-250);
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.totalQuestions {
  font-weight: 900;
  font-size: var(--fs-200);
  font-weight: bold;
  letter-spacing: 0.2rem;
}
