.topBar {
  padding: var(--space-100) var(--space-150);
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: var(--space-050);
}

.topLeft {
  color: var(--color-neutral-000);
  background-color: var(--color-neutral-200);
  font-weight: 700;
  font-size: var(--fs-100);
  padding: 0 var(--space-050);
  border-radius: var(--radius-0125);
}

.topCenter {
  justify-self: center;
  font-weight: 600;
  font-size: var(--fs-100);
  color: var(--color-neutral-500);
}

.topRight {
  padding-left: var(--space-250);
  display: flex;
}

.progressTrack {
  height: 0.375rem;
  background: #eee;
  border-radius: var(--radius-025);
  position: relative;
}

.progressFill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--main-color-300);
  width: 0%;
  transition: width 200ms ease;
  border-radius: var(--radius-025);
}

.progressNoAnim {
  transition: none !important;
}
