.button {
  cursor: pointer;
  border-radius: var(--radius-2);
  color: var(--color-neutral-400);
  background: var(--base-color);
  border: 2px solid var(--color-neutral-400);
  font-size: var(--fs-100);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-075);
}
