.actionsButtonBox {
  width: 100%;
  padding-left: var(--space-150);
  padding-right: var(--space-150);
  background: var(--main-color-100);
  padding-bottom: var(--space-150);
}

.actionsButton {
  width: 100%;
}
