.button {
  display: flex;
  align-items: center;
  gap: var(--space-025);
  background: white;
  color: var(--color-neutral-400);
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  justify-content: center;
  font-size: var(--fs-100);
  font-weight: 600;
  background: transparent;
}

.icon {
  width: var(--fs-150);
  height: var(--fs-150);
}
